<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<w:settings xmlns:w = "http://schemas.openxmlformats.org/wordprocessingml/2006/main" xmlns:m = "http://schemas.openxmlformats.org/officeDocument/2006/math"><w:autoHyphenation w:val="true"/><w:defaultTabStop w:val="709"/><w:zoom w:percent="100" /><w:footnotePr><w:footnote w:id="0" /><w:footnote w:id="1" /><w:numRestart w:val="lowerRoman"/><w:numStart w:val="1"/><w:numRestart w:val="continuous"/><w:pos w:val="pageBottom"/></w:footnotePr><w:endnotePr><w:endnote w:id="1"/><w:endnote w:id="0"/><w:numStart w:val="1"/><w:numRestart w:val="eachSect"/></w:endnotePr><w:compat><w:compatSetting w:name="compatibilityMode" w:uri="http://schemas.microsoft.com/office/word" w:val="11"/><w:doNotUseHTMLParagraphAutoSpacing/><w:forgetLastTabAlignment/></w:compat></w:settings>